/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Tajawal', sans-serif;
    font-size: 14px;
}

body {
    line-height: 1;
    background-color: rgb(17, 18, 28);
    color: white;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    background: transparent;
    border: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --cell-size: 400px;
}
