/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    direction: rtl;
}

body {
    line-height: 1;
    background-color: rgb(17, 18, 28);
    color: white;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

button {
    background: transparent;
    border: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul, ol, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
/* C S S   R E S E T */

.btn {
    border: 1px solid #333;
    border-radius: 50em;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 1.5rem;
    padding: 2rem 4rem;
    transition: border-color .2s ease-in-out;
}

.btn:hover {
    border-color: white;
}
